@import "modules/status";
@import "modules/nav";
@import "pages/users";

body{
  padding-top: 70px;
}

.container h1:first-of-type {
  margin-top: 0px;
}

.user-block{
  margin-right: 15%;
  text-align: center;
}






